/* Global Styles */
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}



/* Common Styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #575757;
}

img {
  max-width: 100%;
}

.btn-common {
  padding: 15px 40px;
  border: none;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  background-color: #1D4ED8;
  color: white;
  cursor: pointer;
}

.btn-outline{
  padding: 15px 40px;
  border: 1px solid;
  border-radius: 6px;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  background-color: white;
  color: #1D4ED8;
  cursor: pointer;
}


/* Navigation */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.nav-links-parent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 32px;
  font-size: 15px;
  font-weight: 500;
  color: #4b5563;
}



/* Hero */
.hero-parent {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80vh;
  position: relative;
  overflow: hidden;
  text-align: center;
  color: #ffffff;
  box-sizing: border-box;
}

.hero-bg-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.hero-content {
  position: absolute;   
  top: 100px;
  bottom: 50px;
  max-width: 850px; 
  text-align: center;
  color: #ffffff;
}

.hero-content span {
  font-size: 64px;
  font-style: normal;
  font-weight: 700;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #e5e7eb;
  padding: 30px 80px;
}

.hero-content button {
  position: absolute;
  font-size: 1.2rem;
  padding: 22px 50px;
  bottom: 20px;
  margin: 0;
}



/* Speakers */
.speakers-parent {
  text-align: center;
  margin-top: 70px;
}

.speakers-parent h1 {
  font-size: 3rem;
}

.speakers-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  padding-top: 20px;
}

.speaker-card {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 10px;
  overflow: hidden;
}

.speaker-card-text {
  padding: 15px;
  text-align: left;
  line-height: 10px;
}

.speaker-card-text p:first-child {
  color: #2563eb;
  font-size: 0.8rem;
  font-weight: bold;
}

.speaker-card-text p:last-child {
  color: #575757;
  font-size: 0.8rem;
}



/* Secure Your Spot */
.pricing-parent {
  text-align: center;
  margin-top: 80px;
}

.pricing-parent h1 {
  font-size: 3rem;
  margin-bottom: 0;
}

.pricing-parent > p {
  color: #575757;
  font-size: 0.9rem;
  
}

.pricing-grid {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 55px 0;
}

.pricing-card {
  border: 1px solid rgb(235, 235, 235);
  border-radius: 15px;
  width: 320px;
  text-align: left;
  padding: 30px;
}

.pricing-card p:first-child {
  color: #575757;
  font-size: 0.8rem;
  margin: 0;
}

.pricing-card p:last-child {
  color: #575757;
  font-size: 0.8rem;
  margin: 0;
}

.pricing-card h1 {
  margin: 7px 0 0 0;
  font-size: 2.5rem;
}

.pricing-card hr {
  margin: 20px 0;
  border: 1px solid #f1f1f1;
}

.pricing-grid ul {
  padding: 0 15px;
}

.pricing-grid li {
  color: #333333;
  font-size: 0.8rem;
  line-height: 1.8rem;
}

.pricing-grid li::marker {
  color: #2563eb;
}

.pricing-card button {
  width: 100%;
}

.card-dark {
  background-color: #0d1b2a;
  color: white;
}

.card-dark p:first-child {
  color: #93c5fd;
}

.card-dark p:last-child {
  color: rgb(158, 158, 158);
}

.card-dark hr {
  border: 1px solid #2c2c2c;
}

.card-dark li {
  color: rgb(196, 196, 196);
}

.card-dark li::marker {
  color: #60a5fa;
}

.card-grey {
  background-color: #f8f9fb;
}

.card-grey button {
  color: #0d1b2a;
}



/* Footer */
footer {
  background-color: #0d1b2a;
  width: 100%;
  height: auto;
}

footer hr {
  border: 1px solid #2c2c2c;
  width: 90%;
}

.footer-upper-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
}

.footer-icon {
  color: rgb(131, 131, 131);
  font-size: 1.4rem;
  cursor: pointer;
}

.footer-lower-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  font-size: 0.8rem;
  color: rgb(131, 131, 131);
}
